.container-main{
    background-color: rgb(228, 226, 226);
    text-align: center;
    margin: 0 15%;
    border-radius: 7px;
    height: 25vh;
    padding-top: 40px ;
}
h1{
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    border-left-width: 20%;
    
}


.jumbo-btn{
    padding-top: 20px;
}

.btn-play {
    background-color: rgb(245, 180, 14);
    font-weight: 500;
}

.btn-pause{
    background-color: rgb(89, 88, 88);
    color: #fff;
}


.btn-normal,
.btn-visible,
.btn-up,
.btn-left,
.btn-down,
.btn-right,
.btn-go{
    background-color: rgb(62, 61, 61);
    color: #fff;
}

.btn-shrink{
    background-color: rgb(240, 56, 24);
}

.btn-grow{
    background-color: rgb(43, 62, 174);
    color: #fff;
}

.btn-invisible{
    background-color: rgb(4, 161, 164);
}


#control{
    margin-left: 15%;
    margin-top: 5%;
}

img{
    height: 300px;
    margin-right: 15%;
    margin-top: 20%;
    z-index: -2;
}

.captain{
    position: relative;
}



@media screen and (max-width: 768px) {
    .container-main{
        width: 125%;
        /* height: 10vh; */
        margin: 0 ;
    }

    #control{
        width: 100%;
    }
}
